.main{
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    animation: 1s opacid;
}
.main div{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    font-size: 25px;

}
.main-top_left{
    animation: 3s opacid;
}
.main-top_right{
    animation: 3s opacid;    
}
.main-bottom_left{
    animation: 4s opacid;   
}
.main-bottom_right{
    animation: 4s opacid;    
}
@keyframes opacid {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}