.temperatura{
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-template-areas: 'temperaturatop temperaturatop'
                         'temperaturaleft temperaturaright'   
    ;
    animation: 1s opacid;
}

#temperatura-top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    grid-area: temperaturatop;
}
#temperatura-left{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: temperaturaleft;

}
#temperatura-right{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: temperaturaright;
}
#tempgraphl{
    width: 538px;
    height: 350px;
}
#tempgraphr{
    width: 538px;
    height: 350px;
}
@keyframes opacid {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @media only screen and (max-width: 600px) {
    .temperatura{
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'temperaturatop '
        'temperaturaleft' 
        'temperaturaright'   
;

    }
    #tempgraphl{
        width: 250px;
        height: 200px;
    }
    #tempgraphr{
        width: 250px;
        height: 200px;
    }

  }