
.ph{
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    animation: 1s opacid;

}
.ph-top{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pointer{
    position: absolute;
    top: 314px;
    left: 391px;
    transform: rotate(270deg);
    animation: pointer 2s ;
    animation-fill-mode: both;
}
.ph-middle{
    display: flex;
    justify-content: space-around;
}
.ph-medidor img{
    width: 312px;
    height: 162px;
}
.ph-info p{
    background: lightyellow;
    width: 323px;
    height: 160px
}
.ph-medidor_bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ph-medidor_bottom img{
    width: 250px;
    height: 100px
}

@keyframes pointer {
    from{
        top: 348px;
        left: 575px;
        transform: rotate(272deg);
    }

    to{
        top: 320px;
        left: 598px;
        transform: rotate(329deg);
    }
}
@keyframes opacid {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @media only screen and (max-width: 600px) {
    #pointer{
        display: none;
    }
    .ph{
       width: 100vw;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
    }
    .ph-top{
        font-size: 32px;
    }
    .ph-middle{
        display: block;
    }
    .sb-item{
        margin-left: 0;

    }
  }